.toastAlign {
  --toastBorderRadius: 20px;
  --toastColor: #212728;
  --err: rgb(241, 99, 99);
  --button: rgb(63, 63, 63);
  --buttonHighlight: linear-gradient(#2590ff, #007bff);
  --fontDisplay: "Poppins", sans-serif;
  --sleek: cubic-bezier(0.03, 0.77, 0.34, 1);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: grid;
  place-items: center;
  pointer-events: none;
  display: none;
  transition: 0.3s opacity, 0.5s -webkit-backdrop-filter;
  transition: 0.3s opacity, 0.5s backdrop-filter;
  transition: 0.3s opacity, 0.5s backdrop-filter, 0.5s -webkit-backdrop-filter;
}
.toastAlign.toasted {
  opacity: 0 !important;
}
.toastAlign.next {
  cursor: url(./icons/next.png), auto;
}
.toastAlign .toastTransformWrap {
  transform: translateY(0);
}
.toastAlign .toastWrap {
  transition: 0.3s opacity;
  opacity: 0;
}
.toastAlign .toastWrap.toastBoing {
  opacity: 1;
  animation: boing 1.2s forwards;
}
.toastAlign .toastWrap.toastErr {
  opacity: 1;
  animation: shake 0.5s forwards ease-in-out;
}
.toastAlign .toastWrap.toastErr .toast {
  background: var(--err);
}
.toastAlign .toastWrap.toastErr .toastDashes {
  border: solid 1px var(--toastColor);
  border-style: dashed;
  color: var(--toastColor);
}
.toastAlign .toastWrap.toastShake {
  opacity: 1;
  animation: shake 0.5s forwards ease-in-out;
}
.toastAlign .toastWrap.toastPushed {
  opacity: 1;
  animation: fade 0.5s forwards;
}
.toastAlign .toast {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  padding: 0.5rem;
  background: var(--toastColor);
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: var(--toastBorderRadius);
  box-shadow: rgba(27, 32, 32, 0.788) 0 3px 120px 80px;
  transition: 0.5s background;
}
.toastAlign .toast:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(rgba(89, 105, 107, 0.8), rgba(235, 235, 235, 0.8));
}
.toastAlign .toastDashes {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-style: dashed;
  border-radius: calc(var(--toastBorderRadius) / 2);
  color: white;
  font-family: var(--fontDisplay);
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.toastAlign .toastDashes .toastIcon {
  width: 100px;
  height: 100px;
  background-image: var(--toastIconUrl);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.toastAlign .toastDashes .toastIcon.tiStop {
  background: url(./icons/stop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.toastAlign .toastDashes .toastIcon.tiWarn {
  background: url(./icons/warn.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.toastAlign .toastDashes .toastIcon.tiInfo {
  background: url(./icons/info.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.toastAlign .toastDashes .toastTitle {
  font-size: 1.2em;
  margin-bottom: 1rem;
  max-width: 300px;
}
.toastAlign .toastDashes .toastText {
  max-width: 300px;
}
.toastAlign .toastDashes .toastButtons {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1.5rem;
}
.toastAlign .toastDashes .tbButton {
  font-size: 1.2em;
  font-weight: 500;
  padding: 0.3rem;
  min-width: 130px;
  max-width: 130px;
  height: 100%;
  border-radius: calc(var(--toastBorderRadius) / 2);
  background: var(--button);
  display: grid;
  place-items: center;
  transition: 0.2s filter var(--sleek);
  cursor: pointer;
}
.toastAlign .toastDashes .tbButton:hover {
  filter: brightness(1.3);
}
.toastAlign .toastDashes .tbButton.highlight {
  background: var(--buttonHighlight);
}
.toastAlign .toastDashes .tbButton.vertical {
  min-width: 100% !important;
  margin-top: 1em;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes boing {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
  40% {
    opacity: 1;
    transform: translateY(-20px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-2px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(1px);
  }
}/*# sourceMappingURL=toaster.css.map */